<div class="containers relative">
   <app-header></app-header>
   <div>
      <img src="assets/hero.webp" alt="" class="px-8 py-8 max-h-[50vh] w-full">
   </div>
    <p class=" text-xl font-semibold  md:text-3xl  text-center">
             world’s most popular currency Converter.
        </p>
   <div class="body">
      
    <div class="bg-gradient-to-r from-[FFF] via-blue[E2E5FF] to-[FFF] ...   lg:items-end lg:pb-52 justify-center items-center">
       
         
        <div>
        
        <p class=" text-md p-2 text-center  text-[#4B5466] lg:text-xl">Trusted by millions  with over several millions customers.</p>

        <div class="flex flex-col md:flex-row gap-2 md:ap-4 justify-center items-center">
           <div >
             <button  class=" 'block font-normal rounded-lg outline-none border hover:bg-[#47C97E] hover:text-white  border-[#47C97E] bg-transparent text-[#002A80]   px-4 py-2  md:text-base" routerLink="/currency-table">Check all currencies</button>
           </div>
        <button  class=" 'block font-normal rounded-lg outline-none border hover:bg-[#47C97E] hover:text-white  border-[#47C97E] bg-transparent text-[#002A80]   px-4 py-2  md:text-base" routerLink="/oneOnOneCurrencyConversion">Currency to Currency pair</button>
        </div>
        </div>
       </div>
    </div>
      <div class="absolute bottom-0 right-0 left-0">
            <img src='assets/card-banner-pattern.png'
                class="w-full bg-cover bg-center object-cover bg-repeat " alt='hero-pattern-img' />
        </div>
   </div>
