<div class="container-s">
   <app-header></app-header>
   <!-- <mat-divider></mat-divider> -->
   <div class="body">
    <div class="bg-gradient-to-r from-blue-900 via-blue-500 to-pink-500 ... h-[92vh] flex pl-64 items-end pb-52">
       <div class="w-[60%] mr-[4rem] ">
        <div>
                <p class="text-5xl text-white ">
            The world’s most popular way to buy, sell, and trade crypto
        </p>
        <p class="text-white text-2xl">Trusted by millions since 2011 with over 2 millions customers</p>

        <div class="flex space-x-4">
           <div >
             <button  class="bg-blue-500 text-white text-xl px-8 py-4 rounded hover:bg-white hover:text-blue-900" routerLink="/currencyTable">Get Started</button>
           </div>
        <button  class="bg-white text-blue-900 text-xl  px-8 py-4 rounded hover:bg-blue-500 hover:text-white">Register</button>
        </div>
        </div>
       </div>
    </div>
   </div>
</div>