<!-- <div class="container-s">
   <div class="bg-slate-900 h-screen">
        <div class="logo text-white p-3 font-bold text-xl text-center">
        currencyconverter.com
    </div>
    <div class="flex flex-col justify-between space-x-4  lg:flex-row">
        <div class=" w-full lg:w-[50%] h-screen bg-white rounded ">
           <div class=" flex gap-4">
             <label for="currency ">Select Currency:</label>
            <select name="" id="" class="rounded-md px-2 py-2 border border-solid lg:w-[300px]">
                <option value=""></option>
            </select>
           </div>
           
        <div class="w-full lg:w-[50%] lg:h-[700px] h-screen bg-white rounded" >
           <div class="flex">
             <div class="px-8 py-4 font-bold w-[30%]">
                {{base}}
            </div>
            <div class="px-8 py-4  w-[50%]">
                
            </div>
            
           </div>
           <div>
            <app-currency-rate-page [allCurrencyRate]="allCurrencyRate" *ngIf="showpagination" ></app-currency-rate-page>
           </div>
        </div>
    </div>
   </div>
</div> -->
