<div class="container-s">
   <div class="bg-slate-900 h-screen">
        <div class="logo text-white p-3 font-bold text-xl text-center">
        currencyconverter.com
    </div>
    <div class="flex flex-col justify-between space-x-4  lg:flex-row">
        <!-- <div class=" w-full lg:w-[50%] h-screen bg-white rounded "> -->
           <div class=" flex gap-4">
             <label for="currency ">Select Currency:</label>
            <select name="" id="" class="rounded-md px-2 py-2 border border-solid lg:w-[300px]">
                <option value=""></option>
            </select>
           </div>
            <!-- <div class="flex px-8  py-4">
                <div class="w-[30%] font-bold text-2xl ml-8">
                    Symbol
                </div>
                <div class="w-[50%] font-bold text-2xl">
                    Currency
                </div>
            </div>
             <div class="flex px-8" *ngFor="let currency of allCurrency | keyvalue | paginate : {itemsPerPage: 25, currentPage: p} " (click)="onSelect(currency.key)">
                <div class="w-[30%] ml-8 cursor-pointer ">
                    {{currency.key }}
                </div>
                <div class="w-[50%] cursor-pointer">
                    {{currency.value}}
                </div>
            </div>
            <div class="mt-8">
                <pagination-controls (pageChange)="p = $event" ></pagination-controls>
            </div> -->

        <!-- </div> -->
        <div class="w-full lg:w-[50%] lg:h-[700px] h-screen bg-white rounded" >
           <div class="flex">
             <div class="px-8 py-4 font-bold w-[30%]">
                {{base}}
            </div>
            <div class="px-8 py-4  w-[50%]">
                
            </div>
            
           </div>
           <div>
            <app-currency-rate-page [allCurrencyRate]="allCurrencyRate" *ngIf="showpagination" ></app-currency-rate-page>
           </div>
        </div>
    </div>
   </div>
</div>
